python/oauth/__pycache__/__init__.cpython-310.pyc
python/.DS_Store
.vscode/c_cpp_properties.json
.DS_Store
node_modules
__pycache__/zerorpc.cpython-310.pyc
python/__pycache__/functions.cpython-310.pyc
.env